In [1]:
import urllib.request
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/Programming_languages_used_in_most_popular_websites"

In [4]:
with urllib.request.urlopen(url) as i:
    html = i.read()

In [5]:
data = pd.read_html(html)[0]

In [6]:
data.head()

,Websites,Popularity (unique visitors per month)[1],Front-end (Client-side),Back-end (Server-side),Database
0,Google[2],2800000000,"JavaScript, TypeScript","C, C++, Go,[3] Java, Python, Node","Bigtable,[4] MariaDB[5]"
1,Facebook,1120000000,"JavaScript, TypeScript, Flow","Hack/HHVM, PHP, Python, C++, Java, Erlang, D,[...","MariaDB, MySQL,[8] HBase, Cassandra[9]"
2,YouTube,1100000000,"JavaScript, TypeScript","Python, C, C++, Java,[10] Go[11]","Vitess, BigTable, MariaDB[5]"
3,Yahoo,750000000,JavaScript,PHP,"PostgreSQL, HBase, Cassandra, MongoDB,[12]"
4,Etsy,"516,000,000 (Total, not unique)[13]",JavaScript,PHP[14],"MySQL, Redis[15]"